.sub-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  @media (min-width: 992px) {
    margin-left: 25px;
  }
}

.add-program-btn-ctn {
  margin: 1rem 5rem 0 0;
  @media (min-width: 992px) {
    margin-right: 10%;
  }
}
