.services-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  @media (min-width: 992px) {
    margin-left: 25px;
  }
}

.add-services-btn-ctn {
  
  @media (min-width: 992px) {
    
  }
}
.add-type-btn-ctn {
  
  margin-left: 1.5%;
  margin-right: 1.5%;
  @media (min-width: 992px) {
    
  }
}

.date-time-wrapper {
  display: flex;
}
.time-input {
  margin-left: 3rem;
}
